<!DOCTYPE html>
<html>
  <head>
    <title>Empty Fields Alert</title>
  </head>
  <body>
    <script>
      alert("Please fill in all fields");
      window.history.back();
    </script>
  </body>
</html>